@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');

:root {
    --haeder-color: #5c2020;
    --data-text-color: #6c2200
}

* {
    font-family: "Prompt", sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
}

.content-text-header h3 {
    margin-top: 15px;
    color: var(--haeder-color);
}

.container-1 .content-img img {
    width: 100%;
    height: 630px;
    object-fit: contain;
    object-position: left;
}

.data-text h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--data-text-color);
}

.container-box, .container-box2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1rem;
    margin-top: 5px;
    justify-items: center;
}

.container-box .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px 0 40px;
    border-radius: 0.5rem;
}

.container-box2 .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
    border-radius: 0.5rem;
}

.container-2 .box h6 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(139, 139, 139);
}

.container-2 .box span {
    font-size: 36px;
    font-weight: 300;
    color: var(--data-text-color);
}

.box1 {
    background: #edddeb;
}

.box2 {
    background: #edecab;
}

.box3 {
    background: #9bd1c6;
}
.box4 {
    background: #bbf0ba;
}
.box5 {
    background: #e6c9e1;
}
